/* main */
@use "./base/reset";
@use "./pages/home";

h1 {
text-align: center;
padding-left: 80px;
font-family: var(--font-antique);
}

p {
text-align: left;
padding-left: 80px;
font-size: 20px;  
font-family: var(--font-old-style);
}

img {
max-width: 30%;
max-height: 30%;
align-items: center;
margin-left: 30px;
border-radius: 10%; 
margin-top: 1%; 
box-shadow: var(--inner-shadow-2);
}

body {
background-color: var(--blue-1);
}

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

/* the following switch imports have selectors that enable the override of the system setting */
@import "https://unpkg.com/open-props/theme.light.switch.min.css";
@import "https://unpkg.com/open-props/theme.dark.switch.min.css";

form {
display: flex;
gap: var(--size-3);
padding: var(--size-5);
  
> label {
display: flex;
place-items: center;
gap: var(--size-1);
}
}

main {
display: flex;
flex-flow: row wrap;
align-items: flex-start;
justify-content: space-around;
max-inline-size: calc(var(--size-content-1) * 4);
gap: var(--size-5);
padding: var(--size-5);
}

.card {
flex-basis: var(--size-content-1);
display: flex;
flex-direction: column;
gap: var(--size-2);
background: var(--surface-3);
border: 1px solid var(--surface-1);
padding: var(--size-4);
border-radius: var(--radius-3);
box-shadow: var(--shadow-2);
}

.card > h5 {
line-height: var(--font-lineheight-1);
}

body {
display: grid;
place-content: center;
}

[color-scheme="dark"] {
color-scheme: dark;}

[color-scheme="light"] {
color-scheme: light;}

